Repository Lodin/lazyx: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint -- --fix, eslint --fix

feat(core): implement "createStore" function
  spec/createStore.spec.ts
  src/createStore.ts
Due: yarn run lint -- --fix

build(package.json): adapt boilerplate metadata
  package.json
Due: none

docs: adapt readme for new library API
  README.md
Due: none

docs: improve "mergeSequence" operator description
  README.md
Due: none

refactor(operators): replace named function export to default
  src/add/operator/apply.ts
  src/add/operator/mergeSequence.ts
  src/operator/apply.ts
  src/operator/mergeSequence.ts
Due: yarn run lint -- --fix

feat(core): add index file
  src/index.ts
Due: yarn run lint -- --fix

refactor: simplify typings for overloaded functions
  src/createStore.ts
  src/operator/mergeSequence.ts
Due: yarn run lint -- --fix

build(lintstaged): add checking spec directory
  .lintstagedrc
Due: none

build(webpack): add "resolve" section to config
  config/webpack.common.js
Due: eslint --fix

build(tsconfig): add spec directory to tsconfig
  tsconfig.json
Due: none

fix(core): improve typings for SubjectMap
  spec/SubjectMap.spec.ts
  src/SubjectMap.ts
Due: yarn run lint -- --fix

docs: update readme in accordance with latest changes
  README.md
Due: none

refactor(core): rename "getMap" method to "getTree"
  README.md
  spec/createStore.spec.ts
  src/createStore.ts
Due: yarn run lint -- --fix

docs: improve style
  README.md
Due: none

build(dependencies): add rxjs as peer dependency
  package.json
  yarn.lock
Due: none

build(package.json): remove "private" mark
  package.json
Due: none

feat(core): add Store and Middleware types export
  src/index.ts
Due: yarn run lint -- --fix

fix(core): force alphabetical sorting for object literals
  src/createStore.ts
Due: yarn run lint -- --fix

build(tsconfig): remove creating declarations for umd
  package.json
  tsconfig.json
Due: none

build: run test during prepublish just once
  package.json
Due: none

build: remove unnecessary es3 checking
  package.json
Due: none

build(tsconfig): set default compilation target to es2015
  config/webpack.dev.js
  config/webpack.prod.js
  package.json
  tsconfig.json
Due: eslint --fix

build(tslint): separate linting src and spec directories
  .lintstagedrc
  package.json
  yarn.lock
Due: none

fix(core): fix SubjectMap typing
  spec/SubjectMap.spec.ts
  src/SubjectMap.ts
Due: yarn run lint -- --fix

build(webpack): fix error during webpack compilation
  config/webpack.dev.js
  config/webpack.prod.js
Due: eslint --fix

build: fix typo in build:commonjs:files script
  package.json
Due: none

ci: replace simple test to coverage test
  .travis.yml
Due: none

build(tsconfig): remove unnecessary directory from including files
  tsconfig.json
Due: none

build(tsconfig): add special tsconfig for tslint to allow checking spec files without placing them to building directories
  package.json
  tsconfig.tslint.json
Due: none

build(publish): add configuration files to .npmignore
  .npmignore
Due: none

build(publish): uncomment "prepublish" script
  package.json
Due: none

docs: add badges to readme
  README.md
Due: none

build(publish): add .npmignore to .npmignore
  .npmignore
Due: none

doc: fix typos
  README.md
Due: none

refactor(core): change logic of "createStore" function
  spec/createStore.spec.ts
  src/createStore.ts
  src/typings.d.ts
Due: yarn run lint -- --fix

refactor(core): improve "createStore" function
  spec/createStore.spec.ts
  src/createStore.ts
  src/typings.d.ts
Due: yarn run lint -- --fix

docs: update readme for last changes
  README.md
Due: none

docs: fix code style
  README.md
Due: none

build(tslint): disable "one-variable-per-declaration" rule for loops
  tslint.json
Due: none

feat(operators): "mergeSequence" now can transform initial state elements to observables
  spec/operator/mergeSequence.spec.ts
  src/operator/mergeSequence.ts
Due: yarn run lint -- --fix

Path conditions:
  yarn run lint -- --fix: any of: src/**/*.ts
  eslint --fix: any of: config/**/*.js
