Repository Lodin/lazyx: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint -- --fix, eslint --fix

build(package.json): specify index declaration file
  package.json
Due: none

refactor(core): remove receiving types for "createStore" function, because they are unnecessary.
  README.md
  spec/createStore.spec.ts
  src/createStore.ts
Due: yarn run lint -- --fix

docs: fix mistake
  README.md
Due: none

ci: add node 8
  .travis.yml
Due: none

build: add "module" and "jsnext:main" fields to package.json
  package.json
Due: none

build: change project keywords
  package.json
Due: none

refactor: rename "mergeSequence" to "mergeCollection"
  README.md
  spec/operator/mergeCollection.spec.ts
  src/add/operator/mergeCollection.ts
  src/add/operator/mergeSequence.ts
  src/index.ts
  src/operator/mergeCollection.ts
Due: yarn run lint -- --fix

build(dependencies): update yarn.lock
  yarn.lock
Due: none

docs: improve documentation
  README.md
Due: none

build: version 0.2.0
  package.json
Due: none

docs: add notification of alpha-release
  README.md
Due: none

ci: add installing peer dependencies before tests
  .travis.yml
Due: none

build(dependencies): add registry version of "tslint-config-poetez" instead of github version
  package.json
  yarn.lock
Due: none

build(dependencies): update "tslint-config-poetez" to fix "rules directory not found" error
  package.json
  yarn.lock
Due: none

fix(core): disable "no-param-reassign" rule for "createStore" function
  src/createStore.ts
Due: yarn run lint -- --fix

build: speed up building process with "npm-run-all"
  package.json
Due: none

build(dependencies): add "util.promisify" polyfill
  package.json
  yarn.lock
Due: none

build: move all build directories to the "dist" directory
  .gitignore
  config/paths.js
  config/webpack.dev.js
  config/webpack.prod.js
  package.json
Due: eslint --fix

build: disable building es and umd versions during prepublish
  package.json
Due: none

build: add copying project files to the cjs build directory
  config/make-packages.js
  package.json
Due: eslint --fix

build: remove unnecessary package metadata
  package.json
Due: none

build(config): replace "async/await" to Promises in "make-packages" script to provide compatibility for node 6
  config/make-packages.js
Due: eslint --fix

build: add patching UMD version to provide smooth integration with RxJS bundle
  config/patch/patch-umd.js
  config/webpack.common.js
  package.json
Due: eslint --fix

ci: speed up tests by ignoring prepublish script by yarn
  .travis.yml
Due: none

build(config): fix variable name
  config/paths.js
Due: eslint --fix

fix(core): simplify export from "createStore" module
  src/index.ts
Due: yarn run lint -- --fix

Path conditions:
  yarn run lint -- --fix: (any of: src/**/*.ts) or (any of: spec/**/*.ts)
  eslint --fix: any of: config/**/*.js
